---
services:
  db:
    image: amarnathkv/dockerproject:dbimage
    deploy:
      replicas: 2
    ports:
      - "80"

  auth_service:
    image: amarnathkv/dockerproject:authimage
    deploy:
      replicas: 2
    ports:
      - "80"

  book_service:
    image: amarnathkv/dockerproject:bookimage
    deploy:
      replicas: 2
    ports:
      - "80"

  borrow_service:
    image: amarnathkv/dockerproject:borrowimage
    deploy:
      replicas: 2
    ports:
      - "80"

  frontend:
    image: amarnathkv/dockerproject:appimage
    deploy:
      replicas: 2
    ports:
      - "80"

